.postbody{
    border-style: solid;
    width: 300px;
    height: 400px;
    position: relative;
    background-color: #E5E1E6;
}
.title{
    background-color: #861F41;
    width: 300px;
    height: 75px;
    position: absolute;
    top: 0;
    text-align: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.likes{
    background-color: #75787b;
    width: 300px;
    height: 50px;
    position:  absolute;
    bottom: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
.cont{
    background-color: #E5E1E6;
    height: 275px;
    width: 300px;
}
.icons {
    margin-left: 10px;
}
.header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}
.postinfo{
    display: flex;
    color: white;
    font-size: small;
    gap: 20px;
}