*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: #861F41;
}
.center h1{
    text-align: center;
}
.txt_field{
    text-align: center;
}
